<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.signup">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".TwoWheelSlotsActivity" />
        <activity android:name=".Car2Activity" />
        <activity android:name=".FourWheelSlots1Activity" />
        <activity android:name="com.example.admin.myapplication.Registration1Activity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ZoneBActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".PaymentOptionsActivity" />
        <activity android:name=".TimeActivity1" />
        <activity android:name=".ZoneDActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".Third1Activity" />
        <activity android:name=".NearByBikesActivity" />
        <activity android:name=".NearByCarsActivity" />
        <activity android:name=".PricingActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity
            android:name=".Maps2Activity"
            android:label="@string/title_activity_maps2" />
        <activity android:name=".CounterActivity" />
        <activity android:name=".TwoWheelerNearByZoneActivity" />
        <activity android:name=".FourWheelerNearByZoneActivity" />
        <activity android:name=".NearByBikes1Activity" />
        <activity android:name=".NearByCars1Activity" />
        <activity android:name=".PaymentOptions1Activity" />
        <activity android:name=".DisplayAllInfo" />
        <activity android:name=".PricingInfo" />
        <activity android:name=".QRGenerator" />
        <activity android:name=".CheckLastTransaction" />
        <activity android:name=".ExtendTimeSlot" />
        <activity android:name=".Main1Activity" />
        <activity android:name=".SampleActivity" />
        <activity android:name=".ExtendPricing" />
        <activity android:name=".ExtendedCounterActivity" />
        <activity android:name=".ExtendDisplayAll" />
        <activity android:name=".CancelBooking" />
        <activity android:name=".PhoneOTPActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".SuccessPageActivity" />
        <activity android:name=".FinalActivity" />

        <receiver android:name=".MyBroadcastReceiver" />

        <activity android:name=".EditProfile"></activity>
    </application>

</manifest>